* {
    padding: 0;
    margin: 0;
}

.header {
    height: 90px; 
    background-color: rgb(181, 208, 218);
    border-bottom: 1px solid black; 
    width: 100%;
}

.header_container {
    margin: auto; 
    width: 90%; 
    display: flex;
    flex-wrap: wrap;
}

.header_image {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(245, 253, 0);
    font-size: 30px;
    line-height: 15px;
    font-weight: 300;
    letter-spacing: 7px;
    text-transform: uppercase;
    text-align: left;
    padding-top: 30px;
}

.Menu > div > a {
    color: rgb(0, 100, 0);
    cursor: pointer;
    text-decoration: none;
    flex: 1 0 auto;
    font-weight: normal; 
    font-family: Poppins;
}

.Menu {
    margin-left: auto;
    font-size: 20px;
    gap: 30px;
    align-items: right;
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
}

.Menu > div > a:hover {
    color: rgb(255, 89, 0);
    cursor: pointer;
    text-decoration: none;
}

.hero1 {
    background-image: url("../Images/topic.jpeg");
    background-repeat: no-repeat; 
    background-size: cover; 
    width: 100%;
    height: 900px;
}

.hero_content1 {
    margin: auto; 
    width: 800px; 
    height: 400px; 
    text-align: center;
    margin-top: 0px;
}

.hero_header1 {
    color: black;
    background-color: rgb(2, 0, 24);
    font-size: 60px;
    line-height: 60px;
    font-weight: 300;
    letter-spacing: 4px;
    text-align: center;
    color: white;
    width: 800px; 
    text-transform: uppercase;
    font-family: Garamond;
    margin: auto; 
    height: 190px;
}

.hero_description1 {
    margin-top: 40px;
    background-color: rgb(22, 85, 131);
    font-size: 25px;
    line-height: 25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: forestgreen;
    font-weight: 300;
    letter-spacing: 3px;
    height: auto; 
    text-align: center;
    padding-bottom: 20px;
}

body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
}

.hero_boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.box {
    background-color: black;
    margin: 20px;
    padding: 20px;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 300px; 
    height: 300px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box_red {
    background-color: red;
    position: relative; 
}

.box_red img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}

.hero_photo_footer {
    color: white;
    margin-top: 5px;
}

.box_purple {
    background-color: purple;
}

.text {
    margin-bottom: 60px; 
}

.list {
    margin-top: 60px; 
}


.box_new {
    background-color: blue; 
    background-image: url("../Images/terran1.jpg");
}

.box_header {
    background-color: orange;
    color: black;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    margin-bottom: 10px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: rgb(255, 255, 0); 
}

.footer {
    background-color: rgb(3, 60, 24);
    width: 100%;
    height: 150px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.footer_links {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 33%;
}

.footer_links {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 33%;
}

.footer_links a {
    color: rgb(151, 45, 35, 255);
    text-decoration: none;
    display: block; 
}

.footer_links a:hover {
    color: white; 
}

.footer_copyright {
    text-align: left;
    width: 33%;
    display: flex;
    color: rgb(151, 144, 133);
    justify-content: center;
    align-items: center;
    font-family: Montserrat;
}

.footer_image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%; 
}